{% extends 'padre.html' %}


{% block Biblioteca %}
<section class="page-section bg-primary" id="Inicio">
    
    <div class="container px-4 px-lg-5">
        
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Búsqueda de lectores</h2>
                <hr class="divider divider-light" />
                <form action="{% url 'BuscarLectores' %}" method="GET" class="form-control">
                    
                    <p>Ingrese el número de socio a buscar</p>
                    <input type="number" name="num_socio">

                    <input type="submit" value="Buscar" class="boton-busq">
                </form>                  
            </div>
        </div>
        <div class="div-boton">
            <a href="{% url 'Inicio' %}" class="boton-link">Inicio</a>
        <a href="" class="boton-link">Boton</a>

        </div>
         
    </div>
    
</section> 

{% endblock Biblioteca %}

