{% extends 'padre.html' %}


{% block Biblioteca %}
<section class="page-section bg-primary" id="ListadoLibros">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Listado de libros</h2>
                <hr class="divider divider-light" />
                {% for libro in lista_libros %}
                
                <li>{{libro.titulo}} - {{libro.autor}}</li> 
                
                {% endfor %}                  
            </div>
        </div>
    </div>
</section>  
{% endblock Biblioteca %}